@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the font */
@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/font.otf') format('opentype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply the font to h1 and h2 */
h1, h2 {
  font-family: 'CustomFont', sans-serif;
}